.text-center{
    text-align: center;
}
.bg-red{
    background: red;
}
.mx-auto{
    margin: auto;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.item-center{
    align-items: center;
}
.container{
    background-color: rgb(234, 129, 129);
    border: 2px solid black;
    width: 315px;
}